<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Форма авторизации</title>
    <link th:href="@{/css/registrationStyle.css}" rel="stylesheet" type="text/css"/>
</head>
<body>

<form th:action="@{/login}" method="post">
    <label for="username">Имя пользователя:</label>
    <input type="text" name="username" id="username" />

    <label for="password">Пароль:</label>
    <input type="password" name="password" id="password" />

    <button type="submit">Войти</button>
</form>

</body>
</html>